<html>
    <h1>Login With Singular Demo</h1>

    <a href="http://localhost:3000/oauth/logindialog?client_id=f6fce93827c5f8b2684ac18ffcbe0f6734eb7daa7927590abba1aeb78199267c1e6e380500b322bfa4647f2e2ebb84d3">Login with Singular</a>
</html>