<% include headerFullpage %>

<div id="singularStatus">Will be replaced by app.js react</div>

<script src="/build/vendors.js"></script>
<script src="/build/app.js"></script>

<% include footerFullpage %>